@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600;700&family=Montserrat:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        height: 100vh;
    }

    h1,
    h2,
    h3,
    h4,
    h5 {
        @apply font-display;
    }

    h1 {
        @apply text-5xl font-semibold;
    }

    h2 {
        @apply text-3xl font-bold;
    }

    h3 {
        @apply text-2xl font-bold;
    }

    body {
        background: radial-gradient(#282c34, #282c34);
        color: #ddd8e4;
    }

    .highlight-text-gradient {
        background: linear-gradient(90deg, #f9572a, #ff8a05);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .error-text-gradient {
        background: linear-gradient(90deg, #f9572a, #ffc905);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .animate-loader {
        animation: color-cycle 1s infinite;
    }

    .animate-bg-gradient {
        background-size: 200% 100%;
    }

    .animate-bg-gradient:hover {
        background-position-x: 100%;
        animation: gradient-switch 0.2s alternate ease-in-out;
    }
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@keyframes gradient-switch {
    0% {
        background-position-x: 0;
    }
    100% {
        background-position-x: 100%;
    }
}

@keyframes color-cycle {
    0% {
        color: #e9e9e9;
    }
    50% {
        color: #b89b84;
    }
    100% {
        color: #e9e9e9;
    }
}
