@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600;700&family=Montserrat:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        height: 100vh;
    }

    h1,
    h2,
    h3,
    h4,
    h5 {
        @apply font-display;
    }

    h1 {
        @apply text-5xl font-semibold;
    }

    h2 {
        @apply text-3xl font-bold;
    }

    h3 {
        @apply text-2xl font-bold;
    }

    body {
        background: radial-gradient(#282c34, #282c34);
        color: #ddd8e4;
    }
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
